<footer class="bg-dark text-light">
    <div class="container py-4">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <img src="/static/images/quantyc_logo.png" alt="Quantyc" class="img-fluid" style="max-width: 100px;">
            </div>
            <div class="col-lg-8">
                <h5 class="mb-3">Footer</h5>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam ac urna a velit vehicula efficitur.</p>
            </div>
        </div>
    </div>
</footer>
